@model WebServer.ViewModels.ModuleViewModel
@{
    ViewData["Title"] = $"Изменение модуля {Model.Name}";
}
<form asp-action="Create" asp-controller="Modul" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label  class="control-label">Название</label>
        <input type="text" name="Name" class="form-control" value = @Model.Name/>
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label  class="control-label">Тип файла (dll)</label>
        <input type="text" name="FileType" class="form-control" value = @Model.FileType/>
        <span asp-validation-for="FileType"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Файл модуля(.dll)</label>
        <input type="file" name= "File" class="form-control"/>
        <span asp-validation-for="File"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-default" />
    </div>
</form>