@model IEnumerable<WebServer.Models.ComputerViewModel>;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Список доступных компьютеров</h1>
    @if(@Model.Count() == 0)
    {
        <h1 class="display-4">Ничего нет :(</h1>
    }
    else
    {
        <table class ="align-content-center">
            <tr>Имя</tr><tr>Дата последнего соединения</tr>
            @foreach(var item in Model)
            {
                <tr>
                    <td><a asp-action = "Page" asp-controller = "Computer" asp-route-id = "@item.Id">@item.ComputerName</a></td><td>@item.LastConnection</td><td><a asp-action = "Delete" asp-controller = "Computer" asp-route-id = "@item.Id">Удалить</a> </td>
                </tr>                
            }
        </table>
    }
</div>
